*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    /* background: #0F172A; */
    background-image: url(images/39624.jpg);
}

.container {
    display: flex;
    /* margin-left: 30px; */
    margin-top: 200px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: rgb(127, 142, 146);
    width: 270px;
    height: 400px;
    margin: 30px; /*margin between two cards*/
    margin-top: 30px;
    border-radius: 15px;
    color: aliceblue;
}

.card-image {
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.car-1{
    background-image: url('cloudx.png');
}

.car-2{
    background-image: url('gui.png');
}

.car-3{
    background-image: url('receipt.png');
}

.card h2{
    padding: 10px;
}

.card p{
    padding: 10px;
}

.card a{
    /* background-color: black; */
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.card:hover{
    background-color: rgb(62,62,62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
.logo a{
    color: white;
    margin-left: 87%;
}
.nav p{
    color: #0F172A;
}
.a{
    color: white;
}
